@using HR_System.ViewModels ;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GroupPageVM  

<h1>Group Permissions </h1>

<form asp-action="Index" asp-controller="group" method="post">

 <div> @Html.LabelFor(n => n.group.GroupName)</div>
 <div> @Html.TextBoxFor(n => n.group.GroupName, new { @class = "form-control" })</div>




 @for (int i = 0; i < ViewBag.x ; i++)
            {
                <tr>
                    <td>
                       <div> ADD </div>
                         @Html.CheckBoxFor(c => c.PagesVM[i].ADD)

                               <div> Update </div>
                         @Html.CheckBoxFor(c => c.PagesVM[i].Update)

                               <div> Delete </div>
                         @Html.CheckBoxFor(c => c.PagesVM[i].Delete)
                         @Html.CheckBoxFor(c => c.PagesVM[i].Read)
                        
                         @Html.HiddenFor(c => c.PagesVM[i].page.PageId)
                    </td>
                    <td>@Html.DisplayFor(c => c.PagesVM[i].page.PageName)</td>
                </tr>
            }


            <input type="submit"  value="Save"/>


  </form>

