@model IEnumerable<AttDep>


<section id="configuration">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
<div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Attendance and departure request</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <p class="card-text">DataTables has most features enabled by default, 
                            so all you need to do to use it with your own ables is to call the construction</p>
                            <div class="row"><div class="col-sm-12 col-md-3"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show Date
                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                                    <option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">
                                        100</option></select> </label></div></div>
                                      <div class="col-lg-1"></div> 
                                     @* <form>
                                        <div class="col-sm-12 col-md-5"><div id="DataTables_Table_0_filter"
                                             class="dataTables_filter"><label>Employee Name:<input type="search" 
                                class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div></div>
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </form>*@
                                @*<div class="form-group">
                                            <input type="submit" value="Search" class="btn btn-primary" />
                                </div>*@

                                <form>
                                    <label>Employee Name: @Html.TextBox("Search") <input type="submit" value="Search" class="btn btn-success" /></label>
                                </form>
                                <div class="col-lg-3"><button id="addRow" class="btn btn-primary mr-1"> <i class="ft-plus"></i>&nbsp;
                                   <a asp-action="Create"> Add Employee Att</a></button></div>
                                 @* <div>
                                    <form>
                                        <span>Show Date :</span>
                                        @Html.TextBox("date")<input type="submit" class="btn glyphicon-search" />
                                    </form>
                                </div>
                                <div>
                                    <form>
                                        <span>Employee Name :</span>
                                        @Html.TextBox("search")<input type="submit" class="btn glyphicon-search" />
                                    </form>
                                </div>*@
                            </div> 
                            </div>
                            </div>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Attendance Time
            </th>
            <th>
                Check-out Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.Emp.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.AttId" class="btn btn-danger mr-1 icon-trash" onclick="return confirm('Are u sure to delete '+'@item.Emp.EmpName'+' ?')" >  Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
          </div>
        </div>
    </div>
</section>


@*<partial name="Create">*@


@*@Html.Partial("Create")*@

@*<partial name="_ProductPartial" for="Create">*@

