@model IEnumerable<HR_System.Models.AttDep>


<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Attendance Time
            </th>
            <th>
                Check-out Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp.EmpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @*<a asp-action="Delete" asp-route-id="@item.AttId" class="btn btn-danger mr-1 icon-trash"  onclick="return confirm('Are you sure to delete '+'@item.Emp.EmpName'+' ?')">  Delete</a>*@
                    <a asp-action="Delete" asp-route-id="@item.AttId" class="btn btn-danger mr-1 icon-trash" data-toggle="modal" data-target="#exampleModalCenter">  Delete</a>
                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"></button>*@
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to Delete ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    @* <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>*@
                                    <a asp-action="Delete" asp-route-id="@item.AttId" class="btn btn-danger mr-1" data-dismiss="modal">  Confirm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@*----*@
<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"></button>*@

<!-- Modal -->
@*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to Delete ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>*@

@*----*@

@section scripts{
<script>

</script>
}