
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using HR_System.ViewModels 
@using HR_System.Models
@model UserORAdmin 


<h1>USer OR ADmin</h1>

@if ( Model.admin != null )
{
    
<div>
    <h4>Admin</h4>
    <hr />
     <a asp-action="logout">logout</a>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.admin.AdminName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.admin.AdminName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.admin.AdminPass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.admin.AdminPass)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model.admin.AdminId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

}
else
{
    
<h1>profileUser</h1>

<div>
    <h4>User</h4>
    <hr />
    <a asp-action="logout">logout</a>
    <dl class="row">

        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.Email)
        </dd>
      @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.Group.GroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.user.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

    @foreach (var i in ViewBag.PagesRules)
    {
          <div> Group id : @i.GroupId </div>
        <div>Page ID  : @i.PageId </div>
        <div>ADD : @i.Add </div>
          <div>Edit : @i.Update </div>
            <div>Delete : @i.Delete </div> 
            <divEdit >show :  @i.Read </divEdit>
    }

}

