@using HR_System.ViewModels 

@model  List<SalaryVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1>Index</h1>

    @foreach( var i in ViewBag.sal){


    <div> Emp Name :  @i.employeeName </div>
    <div> Sal : @i.fixedSalary </div>
    <div> Department : @i.departmentName </div>
    <div> Attendence Day : @i.attendenceDays </div>
    <div> Abscense Day : @i.abscenseDays </div>
    <div> Bonus : @i.BonusHours </div>
    <div> Minus   @i.MinusHours </div>

    <div> Total Bonus  @i.TotalBonus </div>
    <div> Minus Bonus  @i.TotalMinus </div> 

       <div> Net Salary : @i.NetSalary </div>

    <br /> <br />
    

        <a asp-action="invoice" asp-controller="Salary" 
        asp-route-empName="@i.employeeName" asp-route-fixedSalary="@i.fixedSalary" 
        asp-route-departmentName="@i.departmentName" asp-route-attendenceDays="@i.attendenceDays"
        asp-route-abscenseDays="@i.abscenseDays" 
         asp-route-BonusHours="@i.BonusHours"  asp-route-MinusHours="@i.MinusHours"
          asp-route-TotalBonus="@i.TotalBonus"  asp-route-TotalMinus="@i.TotalMinus"  
           asp-route-NetSalary="@i.NetSalary"> Invoice </a>
    }
        
    
   


<div class="row">
    <div class="row">
        <div>
            <label>Employee Name</label>
            <input type="text" id="name" />
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label>Year</label>
                <select id="year" asp-items="ViewBag.years"></select>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label>Month</label>
                <select id="month" asp-items="ViewBag.months"></select>
            </div>
        </div>
        <div class="col-lg-3">
            <a id="searchemp" class="btn btn-primary mb-2"> <i class="ft-search"></i>&nbsp; Search Employee</a>
        </div>
    </div>
</div>

<div id="rendersalary"></div>

@section scripts{
    <script>
        $(function(){
            $("#rendersalary").load("SalaryTable")
        })
        $("#searchemp").on("click",function(){
            $("#rendersalary").load("SalaryTable?selectedyear="+$("#year").val()+"&selectedmonth="+$("#month").val()+"&name="+$("#name").val())
        })
    </script>
}

