@model IEnumerable<HR_System.Models.Employee>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixedSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FixedSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dept.DeptName)
                </td>
                <td>
                    <a asp-action="details" asp-route-id="@item.EmpId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>|
                    @*@Ajax.ActionLink("Details", "details", new { id = @item.EmpId }, new AjaxOptions()
           {
               UpdateTargetId = "div2",
               InsertionMode = InsertionMode.Replace,
               OnComplete = "showmodal"
           })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @Html.Partial("delete")
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


